@charset "UTF-8";
/* modal.css */

/*.rt-wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	min-height: 400px;
	height: 100%;
	max-height: 100%;
	margin: 0 auto;
	z-index: 9002;
}*/

/* 지점안내 모달 */
.modal {
    display: none;
}

.modal.active {
	opacity: 1;
    visibility: visible;
}

.modal-dimmed {
	position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}

.modal-full {
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width: 830px;
	height: 470px;
	margin:0 auto;
	z-index: 9999;
}

.modal-box {
	background-color: #FFF;
}

.modal.active .modal-full-B {
	display: block;
}

.modal-full-B {
	display: none;
	position: fixed;
	top:0%;
	left:0%;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	margin:0 auto;
	z-index: 9999;
}

.store-modal-wrap {
	position: relative;
	padding: 30px 45px 40px 45px;
}

.store-modal-header {
	position: relative;
	border-bottom: 2px solid #333;
}

.store-modal-header-title {
	max-width: 700px;
	padding-bottom: 24px;
	font-size: 26px;
	font-weight: 400;
	color: #333;
	line-height: 26px;
	overflow: hidden;
}

.store-modal-header-close {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top:0;
	right: 0;
	width: 23px;
	height: 23px;
	background: url('../img/common/ico-cancel-black.png') 50%/100% no-repeat;
	cursor: pointer;
}

.store-modal-container {
	position: relative;
	padding-top: 24px;
}

.store-modal-map {
	float: left;
	width: 456px;
	height: 314px;
	background-color: #ccc;
}

.store-modal-group-text {
	float: left;
	width: 284px;
	max-height: 314px;
	padding: 10px 10px 0px 30px;
}

.store-modal-text {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 44px;
	max-height: 64px;
	padding-bottom: 24px;
	overflow: hidden;
}

.store-modal-text.active {
	display: none;
}

.store-modal-info {
	max-height: 40px;
	overflow-y: hidden;
	padding-left: 36px;
	padding-top: 2px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}

#store_addr {
	overflow-y: visible;
	max-height: 36px;
}

.modal-ico {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	left:0;
	width: 24px;
	height: 22px;
}

.modal-ico.ico-modal-point-A {
	top:1px;
	background: url('../img/icons/ico-modal-point-A.png') 50%/100% no-repeat;
}

.modal-ico.ico-modal-point-B {
	top:0;
	background: url('../img/icons/ico-modal-point-B.png') 50%/100% no-repeat;
}

.modal-ico.ico-modal-point-C {
	top:0;
	background: url('../img/icons/ico-modal-point-C.png') 50%/100% no-repeat;
}

.modal-ico.ico-modal-point-D {
	top:2px;
	background: url('../img/icons/ico-modal-point-D.png') 50%/100% no-repeat;
}

.modal-ico.ico-modal-point-E {
	top:2px;
	background: url('../img/icons/ico-modal-point-E.png') 50%/100% no-repeat;
}

/* 팝업 */
.popup-modal {
    display: block;
    position: absolute;
    top: 100px;
    left: 30px;
    z-index: 1500;
}

.popup-modal a {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup-img-pc {
    display: block;
}

.popup-img-m {
    display: none;
}

.popup-contents {
    position: relative;
    width:402px;
    height: 456px;
}

.popup-contents img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.popup-btn {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7px 8px;
    background-color: #222;
}

.popup-btn .checkbox {
	display: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popup-desc {
    font: 400 15px 'Noto Sans KR';
    color: #FFF;
    line-height: 1.2;
    cursor: pointer;
}

.popup-btn a.btn-aside-close {
    top: 10px;
    right: 8px;
}

/* + 팝업 클로즈 추가 */
.popup-btn a.btn-aside-close{
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: url(../img/common/ico-cancel-white.png) 50% 50% / 16px auto no-repeat;
}

/*
	* 물류센터팝업
*/
.lp-frame {
	position: fixed;
	z-index: 9005;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
	max-width: 1240px;
	height: 100%;
	max-height: 670px;
	padding: 0 20px;
	overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.lp-frame::-webkit-scrollbar {
    display: none;
}

/* 이미지 슬라이드 */
.lp-img-frame {
	float: left;
    width: 56%;
    height: 100%;
    overflow: hidden;
}

.li-img {
	padding-bottom: 100%;
}

/* 텍스트영역 */
.lp-body {
	float: left;
	width: 44%;
    height: 100%;
	padding: 10px 0 20px 50px;
	background-color: #FFF;
}

.lp-title {
	padding: 20px 0;
	border-bottom: 1px solid #D0D0D0;
	text-align: left;
}

.lp-title > h3 {
	display: inline-block;
	font: 700 30px 'Noto Sans CJK KR';
	color: #161616;
}

.lp-close {
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 30px;
    width: auto;
    text-align: right;
}

.lp-close > span {
	display: block;
	width: 22px;
	height: 22px;
	margin: 0 25px 0 auto;
	background: transparent url('../img/icons/ico-close-sitemap.png') 50% 50% / 22px 22px no-repeat;
	cursor: pointer;
}

.lp-label {
	display: inline-block;
    width: auto;
    padding: 8px 18px;
    margin: 5px 0 0 18px;
    font: 400 15px 'Noto Sans CJK KR';
    color: #FFF;
}

.lp-label.ing {
	background-color: #0e7dc2;
}

.lp-label.wait {
	background-color : #161616;
}

.lp-label.ing:after {
	content: '개발완료';
}

.lp-label.wait:after {
	content: '개발중';
}

.lp-contents {
	padding: 30px 10px 0 0;
}

.lp-info > p {
	font: 400 18px 'Noto Sans CJK KR';
	color: #161616;
	transform: skew(-.05deg);
}

.lp-desc {
	position: relative;
    width: auto;
    margin: 25px 0 25px 15px;
    border-collapse: collapse;
    border-spacing: 0;
}

.lp-desc tbody {
	text-align: left;
}

.lp-desc th {
	position: relative;
	width: 110px;
	padding: 0 0 12px 20px;
	font: 700 16px 'Noto Sans CJK KR';
	color: #161616;
	transform: skew(-.05deg);
}

.lp-desc th:before {
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 8px;
	height: 2px;
	background-color: #161616;
}

.lp-desc td {
	padding-bottom: 12px;
	font: 400 16px 'Noto Sans CJK KR';
	color: #161616;
	line-height: 1.4;
	transform: skew(-.05deg);
}

.lp-link {
	padding-right: 20px;
}

.lp-link > p {
	padding-bottom: 20px;
	font: 700 22px 'Noto Sans CJK KR';
	color: #161616;
}

.lp-link-area li {
	float: left;
	width: calc(33.33% - 6px);
}

.lp-link-area li:nth-of-type(2) {
	margin: 0 9px;
}

.lp-link-area li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.lp-link-area div {
	padding-bottom: 100%;
}

.lp-link-area p {
	padding-top: 5px;
	font: 400 16px 'Noto Sans CJK KR';
	color: #161616;
}

/* nav */
#modal_lp .slick-prev,
#modal_lp .slick-next {
	width: 60px;
	height: 70px;
}

#modal_lp .slick-prev {
	left: 0;
	background: rgba(22, 22, 22, .5) url('../img/icons/ico-carsl-prev-wh.png') 50% 50% /13px 22px no-repeat;
}

#modal_lp .slick-next {
	right: 0;
	background: rgba(22, 22, 22, .5) url('../img/icons/ico-carsl-next-wh.png') 50% 50% /13px 22px no-repeat;
}

#modal_lp .slick-dots {
	top: auto;
	bottom: 20px;
}

#modal_lp .slick-dots li {
	z-index: 10;
	width: auto;
	height: auto;
}

#modal_lp .slick-dots li button {
    z-index: 10;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 8px;
    background-color: rgba(255,255,255,.2);
    border: 1px solid #888;
    border-radius: 50%;
}

#modal_lp .slick-dots li.slick-active button {
    background-color: #fff;
}

#modal_lp .slick-dots li button:before {
    display: none;
}


/* 서브 콘텐츠 모달 */
.sp-frame {
	position: fixed;
	z-index: 9005;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
	max-width: 1024px;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.sp-frame::-webkit-scrollbar {
    display: none;
}


.sp-close {
	text-align: right;
}

#btn_sp_close {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-bottom: 20px;
	background: transparent url('../img/icons/ico-close-wh.png') 50% 50%/38px 38px no-repeat;
	cursor: pointer;
}

.sp-frame .yout-frame {
	position: relative;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    padding-bottom: 56.25%;
    border: 1px solid #A1A1A1;
}

.sp-frame .yout-frame > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}





/* 모바일 & 태블릿 */
@media(max-width: 1023px) {

	/* 팝업 */
	.popup-modal {
        left: 50% !important;
        transform: translateX(-50%) !important;
        min-width: 280px;
        width: 90%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

    .popup-contents {
    	min-width: 280px;
        width: 90%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

    .popup-btn {
    	min-width: 280px;
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .popup-img-pc {
        display: none;
    }

    .popup-img-m {
        display: block;
    }

	/*
		* 물류센터팝업
	*/
	.lp-frame {
		max-height: 100%;
		padding: 0;
	}

	/* 이미지 슬라이드 */
	.lp-img-frame {
		float: none;
        width: 100%;
		height: auto;
		z-index: 1;
	}

	.li-img {
		padding-bottom: 50% !important;
	}

	/* 텍스트영역 */
	.lp-body {
		float: none;
		width: 100%;
		padding: 0 0 30px 20px;
	}

	.lp-title {
		padding: 24px 0 20px 0;
	}

	.lp-title > h3 {
		font: 700 22px 'Noto Sans CJK KR';
	}

	.lp-close > span {
        width: 40px;
        height: 40px;
        padding: 20px;
		margin: 0 0 0 auto;
		background: #fff url('../img/icons/ico-close-sitemap.png') 50% 50% / 20px 20px no-repeat;
	}

	.lp-label {
		padding: 4px 10px;
		margin-left: 14px;
		font: 400 14px 'Noto Sans CJK KR';
	}

	.lp-contents {
		padding: 20px 10px 0 0;
	}

	.lp-info > p {
		font: 400 16px 'Noto Sans CJK KR';
	}

	.lp-desc {
	    margin: 25px 0 20px 10px;
	}

	.lp-desc th {
		width: 105px;
		padding: 0 0 12px 15px;
		font: 700 15px 'Noto Sans CJK KR';
	}

	.lp-desc th:before {
		top: 8px;
	}

	.lp-desc td {
		padding-bottom: 12px;
		font: 400 15px 'Noto Sans CJK KR';
	}

	.lp-link {
		padding-right: 10px;
	}

	.lp-link > p {
		padding-bottom: 20px;
		font: 700 18px 'Noto Sans CJK KR';
	}

	.lp-link-area p {
		font: 400 15px 'Noto Sans CJK KR';
	}

	/* nav */
	#modal_lp .slick-prev,
	#modal_lp .slick-next {
		width: 35px;
		height: 41px;
	}

	#modal_lp .slick-prev {
		background: rgba(22, 22, 22, .5) url('../img/icons/ico-carsl-prev-wh.png') 50% 50% /10px 17px no-repeat;
	}

	#modal_lp .slick-next {
		background: rgba(22, 22, 22, .5) url('../img/icons/ico-carsl-next-wh.png') 50% 50% /10px 17px no-repeat;
	}


	/* 영상 */
	.sp-frame {
		padding: 0 20px;
	}


	#btn_sp_close {
		width: 30px;
		height: 30px;
		background: transparent url('../img/icons/ico-close-wh.png') 50% 50%/30px 30px no-repeat;
	}




}

/* modal.css 미디어쿼리 : 모바일 */
@media(max-width: 767px) {

	.modal-full {
		width: 100%;
		max-width: 420px;
	}

	.modal-full.store-modal {
		top: 40%;
		left: 50%;
		transform: translate(-50%,-40%);
	}

	.modal-box {
		margin: 0 20px;
	}

	.store-modal-wrap {
		padding: 16px 10px;
		min-height: 300px;
	}

	.store-modal-header-title {
		font-size: 18px;
		padding-bottom: 16px;
		line-height: 16px;
	}

	.store-modal-header-close {
		width: 15px;
		height: 15px;
	}

	.store-modal-container {
		padding-top: 10px;
	}

	.store-modal-map {
		float: none;
		width: 100%;
		min-height: 220px;
		height: auto;
		max-height: 200px;
	}

	.store-modal-group-text {
		float: left;
		width: 100%;
		height: 100%;
		padding: 30px 10px 0 10px;
	}

	.store-modal-text {
		padding-bottom: 20px;
	}

	.store-modal-text:last-child{
		padding-bottom: 0px;
	}

	.store-modal-info {
		font-size: 13px;
		padding-left: 32px;
		padding-top: 4px;
	}

	.modal-ico {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left:0;
		width: 22px;
		height: 20px;
	}
}

/* modal.css 미디어쿼리 : 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {
	.modal-full.store-modal {
		top: 40%;
		left: 50%;
		transform: translate(-50%,-40%);
	}
}